*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    color: black;
    margin: 1rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100vh;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D2C54;
    padding: 2rem;
    border-radius: 3px;
    width: 500px;
    gap: 1rem;
}

section > input {
    width: 30%;
    padding: 10px;
}

section > button, section > select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
